.fitems{
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    font-size: 20px ;
    border-color: yellow;
    border-radius: 10px;
    margin: 20px;
    border-width: 10px;
    border-style: dotted;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fcontainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;

}

.item1{
    order: 2;
}
.item2{
    order: 3;
}
.item3{
    order: 2;
}
.item4{
    order: 2;
}